<!DOCTYPE html>
<html lang="en">
<head>
  <title>your page title goes here</title>
  <meta charset="utf-8" />
</head>
<body>
  <ul>
    <% @files.each do |file| %>
      <li class="file">
        <a href="public/file" class="file"><%= file %></a>
      </li>
    <% end %>
  </ul>

  <p>
    <% if params[:sort] == "desc" %>
      <a href="/">Sort ascending</a>
    <% else %>
      <a href="/?sort=desc">Sort descending</a>
    <% end %>
  </p>
</body>
</html>