<ul>
  <% @results.each do |name, _| %>
    <li><a href="user/#{name}"><%= name %></a></li>
  <% end %>
</ul>

<!-- Couldn't iterate before because neglected to use "before do" with -->
<!-- @results instance variable. -->
